.film_page {
display: flex;
margin-top: 25px;
}
.film_poster{
min-height: 100vh;
display: flex;
flex-direction: column;

}


.film_poster_img{
	width: 300px;
	height: 450px;
	border-radius: 3px;
}
.film_info {
	display: flex;
	flex-direction: column;
	margin-left: 35px;
	min-width: 600px;
}
.film_nameRu {
	font-size: 40px;
	font-weight: 700;
    line-height: 48px;
    letter-spacing: -.5px;
}
.film_nameEn {
	font-size: 18px;
	color: #555;
	display: inline;
    margin-top: 9px;
    font-size: 18px;
    vertical-align: middle;
    letter-spacing: -.2px;
}
.film_description {
	font-size: 18px;
	margin: 16px 15px 24px 0;
    line-height: 24px;
    color: #fff;
	min-width: 500px;
}
.watchFilmBtn{
	width: 200px;
	border-radius: 25px;
	font-weight: bold;
	border-width:2px;
}
.film_age{
	color: rgb(245, 219, 219);
    border: 1px solid rgba(245, 241, 241, 0.4);
	padding: 1px 3px 1px;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    border-radius: 3px;
}
.film_sidebar{
	flex: 0 0 240px;
    width: 240px;
	display: flex;
	float: right;
	flex-direction: column;
}
.film_rating{
	color: #3bb33b;
	font-size: 32px;
    font-weight: 700;
}
.film_reviews{
	color: rgba(255,255,255,.5);
	margin: 15px 0 5px 0;
}
.film_critics{
    cursor: pointer;
}
.film_reviews, .film_critics{
	font-size: 15px;
    line-height: 18px;
}
.film_cont{
	display: flex;
	justify-content: center;
	margin: 20px 55px 20px 0;
}
.table_info{
	display: block;
	margin-top: 20px;
}
.about_film_span{
	color: #fffefe;
	font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}
.row{
	
	
	margin-top: 15px;
	color: rgba(255,255,255,.6);
	font-size: 17px;
    line-height: 18px;
}
.col-8{
	color: #fff;
}

.carousel-inner{
	border-radius: 20px;
}
.carousel{
	width: 580px;
	height: 390px;
	margin: 20px 20px 15px 0;
} 
.carousel-item{
	width: 580px;
	height: 390px;
}
.similar{
	margin: 45px 0 10px 0px;
	font-weight: bold;
}
.similar_films{
	position: relative;
	width: 200px;
	display: flex;
	flex-direction: column;
	margin: 20px 55px 20px 0;
}
.similar_films_container{
	height: 720px;
	overflow: scroll;
}
.similar_films_container::-webkit-scrollbar {
	width: 0;
  }
.film_img_card{
	width: 200px;
	height: 300px;
	background-color: black;
}

  .sequels{
	  margin-top: 5px;
	  height: 700px;
	  overflow: auto;
  }
  .sequels::-webkit-scrollbar {
	width: 0;
  }
.sequel_header{
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
}
.name{
	font-size: 18px;
	font-weight: bold;
}
.slider_img{
	height: 100%;
}