* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  }
body{
	background-color: #000;
	color: white;
	font-size: 20px;
	line-height: 1;
}
.container{
	display: flex;
	flex-direction: column;
	max-width: 1800px;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}
.header_logo{
	text-decoration: none;
	color: white;
	font-size: 35px;
	font-weight: bold;
	cursor: pointer;
}
.header_logo:hover{
	transition: .3s;
	color:rgb(228, 200, 41) !important;
}
.main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1400px;
}
.film{
	position: relative;
	width: 250px;
	display: flex;
	flex-direction: column;
	margin: 20px 55px 20px 0;
}


.film:last-child{
	margin-right:0;
}
.film_img{
	width: 100%;
	height: 100%;
	border-radius: 3px;
	cursor: pointer;
}

.film_img_wrap{
	width: 250px;
	height: 350px;
	background-color: black;
}

.film_genre{
	display: inline-flex;
	flex-wrap: wrap;
	font-size: .8em;
	font-weight: 400;
	color: rgb(228, 200, 41);
	padding-top:10px;
	text-align: center;
	justify-content: center;
	z-index: 25;
}
.film_name{
	font-size: 1.5rem;
	text-align: center;
	z-index: 25;
}

.movie__average {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1a191f;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
  }
  
  .movie__average--green {
	border: 3px solid green;
  }
  
  .movie__average--orange {
	border: 3px solid orange;
  }
  
  .movie__average--red {
	border: 3px solid red;
  }
  
  .darkener{
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  width: 100%;
	  height: 100%;
	  background-color: #000;
	  opacity: 0;
	  z-index: 20;
	  border:0;
  }
  .darkener:hover{
	  opacity: .2;
  }